import React from "react";
import { storiesOf } from "@storybook/react";
import { ThemeProvider } from "styled-components";
import {{properCase name}} from "../src/lib/components/{{lowerCase name}}/{{properCase name}}.component";
import { jade } from "../src/lib/style/theme";

storiesOf("{{properCase name}}", module)
  .add("Default", () => {
    return (
      <div>
          <{{properCase name}} />
      </div>
    );
  });
