//@flow
import React from 'react';
import {{properCase name}} from "../src/lib/components/{{lowerCase name}}/{{properCase name}}.component";
import { Wrapper, Title } from './common';

export default {
  title: 'Components/{{properCase name}}',
  component: {{properCase name}},
};

export const Default = () => {
  return (
  <Wrapper>
    <Title>Basic usage</Title>
    <{{properCase name}} />
  </Wrapper>
  );
};